<div class="activity-form">
  <h1 class="title">Editing activity</h1>

  <%= render "form", activity: @activity %>
</div>

<div class="footer">
  <%= link_to "Show this activity", @activity %>
  <%= link_to "Back to activities", activities_path %>
</div>
