<div class="activity-form">
  <h1 class="title">New activity</h1>

  <%= render "form", activity: @activity %>
</div>

<div class="footer">
  <%= link_to "Back to activities", activities_path %>
</div>
